__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Notebooks
.ipynb_checkpoints/

# Tests
tests/

tda/

# IDE
.vscode/
.idea/

# Local env files
.env
.env.*

# Large generated data
data/
derivatives/

# Figures
figures/

# Local arrays
*.npy

# .sh files
*script*.sh

# Logs
logs/
*_logs/
